@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@layer base {
  html {
    font-family: "Jost", sans-serif;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.description ul {
  list-style: disc;
}
.description li {
  margin-bottom: 0.5rem;
}

.link-parent:hover .link-child {
  @apply bg-primary text-white;
}
